/* code,
.md-fences,
tt {
  font-family: "mononoki", "Lato", "Source Han Serif";
  font-size: 1rem;
} */


code {
  /* color:rgba(234, 199, 128, 1); */
  color: #d05c41;
  /* font-size: 0.9em; */
  font-size: 11px;
  border: 1px solid #e6ecf1;
  border-radius: 0.25rem;
  padding: 1px 0.15rem 1px 0.15rem;
  margin-left: 2px;
  margin-right: 2px;
  background: #f5f7f9;
}

input:disabled {
  color: green
}


article .content blockquote {
  position: relative;
  margin: 1rem 0 1rem 2rem;
  font-family: "mononoki", "Lato", "Source Han Serif";
  /* color: #888e9c; */
  font-size: 12px;
  color: #ABB2BF;
}

/* Dark Mode Image Add Background Color on Hove */
article .content img:hover {
  background: #fff;
}

article .content blockquote:hover {
  background: #21252B;
  color: #C9CACC;
}


article .content blockquote::before {
  content: "";
  position: absolute;
  left: -1rem;
  height: 100%;
  width: 0.05rem;
  background: #70879b87;
}

article .content blockquote:hover::before {
  content: "";
  position: absolute;
  left: -1rem;
  height: 100%;
  width: 0.15rem;
  background: #428bca;
}

/* 引用块儿悬停增大字体 */
/* article .content blockquote:hover{
  font-size: 14px;
}

.light-theme article .content blockquote:hover{
  font-size: 14px;
} */


strong {
  color: #C162DE;
}

em {
  color: #f58b1b;
}

u {
  /* color: #00AFFF; */
  color: CornflowerBlue;
  text-decoration-style: unset;  
}

a {
  font-style: italic;
  color: #C9CACC;
}

/* 打赏功能加背景 */
#dashang {
  background: #292C33;
}

article header .meta * a {
  color: #c9cacc;
}

udl {
  color: #00AFFF;
  text-decoration-style: dashed;
}

dudl {
  font-style: italic;
  color: #f58b1b;
  border-bottom: thin #f58b1b dotted;
}

pink {
  color: rgba(212, 128, 170, 1)
}

purple {
  color: rgba(197, 134, 192, 1)
}

red {
  color: rgba(194, 86, 81, 1)
}

green {
  color: #ccffb6
}

brown {
  color: rgba(206, 145, 120, 1)
}

y {
  color: rgba(234, 199, 128, 1)
}

blue {
  color: rgba(86, 156, 214, 1)
}

h {
  color: #5DB88D
}

text {
  fill: #fff
}


/* .mermaid { */
/* width: 100%; 表格宽度 */
/* max-width: 65rem; */
/* text-align: center; */
/* fill: #fff; */
/* background-color: #233; */
/* } */
.mermaid {
  fill: #fff;
  text-align: center;
  max-width: 65rem;
  width: 100%;
  /*表格宽度*/
  text-align: center;
  background-color: #223;
  /* max-height   : 300px; */
}

.mermaid text {
  fill: #fff;
}

.mermaid rect {
  fill: #1D1F21
}

.mermaid .titleText {
  fill: #fff;
}

#mermaid-1600185403521 .titleText {
  fill: #fff;
}

.mermaid-1600185403521 .titleText {
  fill: #fff;
}

/* timeline section text */
tspan {
  fill: #fff
}

/* TOC Text Align Right */

#header-post #toc {
  text-align: left;
}

/* Table */
/* New Table v2: Left & Right Border Blue Hover */
table {
  /* max-width: 65em; 表格最大宽度，避免表格过宽 */
  /* border: 1px solid #dedede; 表格外边框设置 */
  /* margin: 15px auto; 外边距*/
  /* /* border-collapse: collapse; 使用单一线条的边框 */
  border-radius: 4px;
  /* width       : 100%; 总宽 */
  border-collapse: collapse;
  empty-cells: show;
  /*单元格无内容依旧绘制边框*/
  display: block;
}

table th,
td {
  height: 35px;
  /*统一每一行的默认高度*/
  /* border-right  : 1px solid #21252B; */
  /*内部边框样式*/
}

/* Highlight Line-number */
/* td.gutter {
  text-align: left;
  width: 0%;
  margin-right: 20px;
} */

/* Highlight Code */
/* td.code {
  width: 95%;
} */

table th {
  /* color: #73c991; */
  color: #ABB2BF;
  text-align: center !important;
  /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
  font-weight: bold;
  /*加粗*/
  /* background: #292C33; */
  /*标题背景色*/
  white-space: nowrap;
  /*表头内容强制在一行显示*/
}


table tr:hover {
  background: #21252B;
  border-left: 0.1rem solid #428bca;
  border-right: 0.1rem solid #428bca;
  border-color: transparent #428bca transparent #428bca;
  /* outline: 2px solid #00AFFF; */
}


/* Light & Dark Mode Toggle Button */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
.btn {
  align-self: center;
  /* margin: 15px 0; */
  margin-left: 80%;
  margin-right: 20%;
  text-align: center;
  /* float: right; */
}

hr {
  width: 87%;
}

/* #header-post {
  width: 520px;
} */

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 30px;
  background-color: black;
  /* transition: all 1s ease; */
  /* position: relative; */
  border-radius: 30px;
  cursor: pointer;
}
.box .ball {
  width: 30px;
  height: 30px;
  background-color: grey;
  /* transition: all 1s ease; */
  position: absolute;
  border-radius: 50%;
  border: 3px solid black;
}
.box .scenary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* transition: all 1s ease; */
  padding: 5px 10px 0px 10px;
}
.box .scenary svg {
  width: 15px;
}

/* light theme */
body.light-theme {
  background: #ffffff;
  color: #000;
}

.light-theme article header .meta * {
  color: #22272a;
}


.light-theme article .content blockquote {
  position: relative;
  margin: 1rem 0 1rem 2rem;
  font-family: "mononoki", "Lato", "Source Han Serif";
  font-size: 12px;
  color: #6f6f6f;
}

.light-theme a {
  color: #22272a;
}

.light-theme #header-post a {
  color: #22272a;
}

.light-theme .mermaid {
  fill: #fff;
  text-align: center;
  max-width: 65rem;
  width: 100%;
  /*表格宽度*/
  text-align: center;
  background-color: #fff;
}

.light-theme .highlight {
  background: #f6f6f6;
  color: #22272a;
}

.light-theme table th {
  /* color: #73c991; */
  color: #22272a;
  text-align: center !important;
  font-weight: bold;
}

.light-theme table tr:hover {
  background: #eaf6ff48;
  /* outline: 2px solid #00AFFF; */
}

.light-theme article .content blockquote:hover {
  background: #eaf6ff48;
  color: #22272a;
}

/* Dark Mode Image Add Background Color on Hove */
.light-theme article .content img:hover {
  background: #282C34;
}